.numberText {
  .MuiInputBase-root {
    input {
      text-align: right;
    }
  }
}

.multilineText {
  .MuiInputBase-root {
    height: 100px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin : 0;
}

.input-file-button {
  /* padding: 6px 25px;
  background-color:#FF6600;
  border-radius: 4px;
  color: white;
  cursor: pointer; */

  > label {
    width: '100%';
    height: '260px';
    align-content: 'center';
    text-align: 'center';
    border: '1px solid lightgray';
    margin : '5px';
    border-radius: '5px';
  }
}

.popup-title {
  display: flex;
}

.content-wrapper {
  /* background: rgb(28, 28, 29); */
  min-height: 100vh;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content-inner {
  /* background: rgb(28, 28, 29); */
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
}

.content-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: bold;
}

.content-inner .login-button {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  color: white;
  background-color: #394add;
}

.label-title {
  width: 80px;
  min-width: 80px;
  margin-right: 10px;

  text-align: right;
  align-content: center;
}

.page {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;

  > header {
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 12px;

    /* // > h1 {
    //   font-size: 1.33333rem;
    //   font-style: normal;
    //   font-weight: 600;
    //   line-height: 1.3;
    //   letter-spacing: -0.03em;
    // } */

    .close-button {
      flex-shrink: 0;
      margin-left: auto;
      height: 40px;
      width: 40px;
    }
  }

  .page-body {
    flex: 1;
    /* // height: 100%; */
    height: calc(100% - 48px);
  }

  > footer {
    position: absolute;
    bottom: 0;
  }
}

.task {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  > .task-header {
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 12px;

    > h1 {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: -0.6px;
    }

    .close-button {
      flex-shrink: 0;
      margin-left: auto;
      height: 100%;
      width: 48px;
    }
  }

  .task-body {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    h2 {
      margin-top: 24px;
      padding: 0 24px;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 34px;
      letter-spacing: -0.84px;
    }
  }

  > .task-footer {
    position: absolute;
    bottom: 0;
  }
}

.task-footer {
  margin-top: auto;
  width: 100%;
}

hr {
  background-color: var(--b-ggrey);
  border: none;
  height: 1px;
}

.flex {
  display: flex;
  &.row {
    flex-direction: row;
    &.align-items-center {
      align-items: center;
    }
  }
  &.col {
    flex-direction: column;
  }
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
}
.relative {
  position: relative;
}
.contents-full {
  width: 100%;
  height: 100%;
}
.contents-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrap-fixed {
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px 24px 24px 24px;
}

.info-button-group {
  column-gap: 32px;
  padding: 5px 28px 26px;
  justify-content: center;
}
.info-list {
  padding: 6px 24px 9px 24px;
  justify-content: space-between;

  > div {
    align-items: center;
  }
}
.overflow {
  overflow-y: auto;
}
.overflow-x {
  overflow-x: auto;
  /* width */
  &::-webkit-scrollbar {
    height: 0px;
  }

  &.mandatory {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    > div {
      > div {
        scroll-snap-align: start;
        scroll-snap-stop: always;

        &:first-of-type {
          scroll-snap-align: center;
        }
        &:last-of-type {
          scroll-snap-align: end;
        }
      }
    }
    &.--pl-24 {
      > div {
        > div {
          scroll-margin-left: 24px;
        }
      }
    }
  }
}

.qna-list {
  justify-content: space-between;
  align-items: center;
  transition: margin-bottom ease 0.3s;

  button {
    &.MuiButtonBase-root {
      padding: 13px 24px 12px;
    }
  }
  p {
    text-align: left;
  }
  &.is-open {
    margin-bottom: 2px;
    transition: margin-bottom ease 0.3s;
    p {
      text-align: left;
    }
  }
}

.analysis-list {
  justify-content: space-between;
  align-items: center;
  transition: margin-bottom ease 0.3s;

  button {
    &.MuiButtonBase-root {
      padding: 13px 24px 12px;
    }
  }
  p {
    text-align: left;
  }
  &.is-open {
    margin-bottom: 2px;
    transition: margin-bottom ease 0.3s;
    p {
      text-align: left;
    }
  }
}

.asset-list {
  justify-content: space-between;
  align-items: center;
  transition: margin-bottom ease 0.3s;
  > button {
    &.MuiButtonBase-root {
      padding: 13px 24px 12px;
    }
    > div {
      gap: 10px;
      align-items: center;
      > div {
        > div {
          gap: 4px;
          align-items: center;
        }
      }
    }
  }
  p {
    text-align: left;
  }
  &.is-open {
    margin-bottom: 2px;
    transition: margin-bottom ease 0.3s;
    p {
      text-align: left;
    }
  }
}

.history-list {
  padding: 24px;
  border-bottom: 1px solid var(--b-ggrey);
  > div {
    justify-content: space-between;
  }
  ~ .history-list-calc {
    padding: 15px 24px;
    border-bottom: 1px solid var(--b-ggrey);
    background-color: var(--boxgrey);
    > div {
      justify-content: space-between;
      align-items: center;
    }
  }
  &.--row {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
.history-list-calc {
  padding: 15px 24px;
  border-bottom: 1px solid var(--b-ggrey);
  background-color: var(--boxgrey);
  > div {
    justify-content: space-between;
    align-items: center;
  }
}

.notice-list {
  padding: 12px 24px;
  border-bottom: 1px solid var(--b-ggrey);
  width: 100%;
  align-items: flex-start;
}

.mypforile-list {
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
}

.qna-list-collapse-chips {
  margin-top: 16px;
  grid-gap: 4px;
  flex-wrap: wrap;
}

.bg-survey-intro {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vw;
}
.survey-wrap {
  height: 100%;
  .react-swipeable-view-container {
    height: 100%;
    .list-survey {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }
}
.analysis-result_image {
  align-items: center;
  justify-content: center;
  img {
    max-width: 230px;
    height: auto;
  }
}
.analysis-result_text {
  > div.analysis-row {
    --width: 100px;
    p:first-child {
      width: var(--width);
      color: var(--grey);
    }
    p:last-child {
      width: calc(100% - var(--width));
    }
  }
}
img.fit {
  width: 100%;
  height: auto;
}

ul.bullet {
  display: flex;
  flex-direction: column;
  > li {
    position: relative;
    padding-left: 18px;
    &::before {
      content: '•';
      color: var(--grey);
      font-size: 12px;
      width: 16px;
      margin-left: 5px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &.--numeric {
    > li {
      list-style-type: decimal;
      position: relative;
      padding-left: 0;
      &::marker {
        margin-left: 10px;
      }
      &::before {
        display: none;
      }
    }
  }
}

.box {
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px 16px;
  &.--line {
    padding: 12px 16px;
    border-radius: 8px;
    margin: 0;

    &.-in-keypad {
      padding: 16px;
      > div {
        justify-content: space-between;
        > div {
          column-gap: 4px;
          align-items: center;
        }
      }
    }
    &.--bottom-border {
      border-radius: 0 0 8px 8px;
    }
    &.--border {
      border-radius: 8px;
    }
  }
  &.--narrow {
    margin-left: 24px;
    margin-right: 24px;
  }
  &.--full {
    margin: 0;
    border-radius: 0;
    padding-left: 24px;
    /* // padding-right: 24px; */
    padding-right: 10px;
    &.--fat {
      padding: 31px 24px;
    }
  }
  &.--large {
    margin: 0;
    border-radius: 10px;
    padding: 24px;
    &.--list {
      > div {
        justify-content: space-between;
        > div:first-of-type {
          width: 100px;
        }
        > div:last-of-type {
          width: calc(100% - 100px);
          > div {
            justify-content: space-between;
          }
        }
      }
    }
    &.-in-collapse {
      padding: 0;
    }
  }
}

.box-outline {
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--b-ggrey);
  border-radius: 8px;
  align-items: center;
  width: 100%;
  &.-dashed {
    border: 1px dashed var(--b-ggrey);
  }
}

.tab-container {
  border-top: 1px solid var(--softgrey);
  &.--chart {
    margin: 0 24px;
  }
}

.square--box {
  width: 150px;
  height: 150px;
  background-color: var(--boxgrey);
  padding: 19px 22px 20px 20px;
  border-radius: 8px;
  position: relative;
  .symbolic-icon {
    width: 41px;
    height: auto;
    position: absolute;
    right: 22px;
    bottom: 20px;
  }
}

.chart-label {
  flex-wrap: wrap;
  > div {
    width: 145px;
    justify-content: space-between;
    flex: 1 1 auto;
    > div:first-of-type {
      gap: 6px;
    }
    > div:last-of-type {
      justify-content: flex-end;
    }
  }
}
.keypad-wrap {
  height: 100%;
  position: absolute;
  bottom: 0;
  .spacing {
    flex-grow: 1;
  }
  .keypad {
    flex-shrink: 1;
  }
}

.toast {
  position: fixed;
  width: 100%;
  padding: 0 24px;
  > div {
    border-radius: 20px;
    background-color: var(--qblack);
    opacity: 0.7;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: var(--white);
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      overflow: hidden;
      width: 90%;
    }
  }
}

.global-spinner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
}

.strategy-deatil-linechart {
  > div {
    &:first-of-type {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:last-of-type {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.home-status {
  justify-content: space-between;
  > div {
    width: 80px;
    align-items: center;
    p {
      font-size: 13px;
      font-weight: 700;
    }
  }
}

.ambient-circle {
  border-radius: 100%;
  box-shadow: 0 0 10px 0 var(--qgreen);
}
.refresh-icon {
  width: 24px;
  height: 24px;
  background-color: var(--white);
  border-radius: 100%;
  padding: 4px;
  &.-rotate {
    animation: rotate 2s linear 0s infinite normal forwards;
  }
}

.home-header {
  width: 100%;
  background-color: #5a6bff;
  border-radius: 0 0 24px 24px;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* //survey-transition */
.survey-transition {
  animation-name: pageTransition;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@keyframes pageTransition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes swipe {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* //media query */

/* //InputDepositPopup.tsx */

.bank-account-input {
  .MuiInputBase-root {
    input {
      transition: ease all 0.3s;
      @media screen and (max-width: 380px) {
        font-size: 32px !important;
        transition: ease all 0.3s;
      }
    }
  }
}

/* //MOA keypad custom style */
.ui-keyboard-preview-wrapper {
  width: 0;
  height: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  /* // display: none; */
}
.con_box {
  width: 0;
  height: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  .ui-keyboard-input-current {
    box-shadow: initial;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
  }
}
.ui-keyboard {
  width: 100% !important;
  top: initial !important;
  bottom: 0;
  padding: 0 !important;

  .ui-keyboard-keyset {
    display: flex !important;
    flex-wrap: wrap;
    background-color: #fff !important;
    .ui-keyboard-button {
      width: calc(100% / 3);
      height: 60px;
      margin: 0;
      span {
        color: var(--qblack);
        font-family: Satoshi;
        font-size: 20px !important;
        font-weight: 700 !important;
      }
      &.ui-keyboard-accept {
        display: none;
      }
    }
  }
}

.assets-main {
  .highcharts-grid {
    path {
      stroke: #eff1f3 !important;
    }
  }
  .highcharts-xaxis {
    path {
      stroke: #8f9da8 !important;
    }
  }
}

.ui-keyboard-button {
  border-radius: 10px;
  &:active {
    background-color: #eceeff;
  }
  &.ui-state-hover {
    background-color: #eceeff;
  }
}

.alert-modal {
  > .MuiBox-root {
    &:focus-visible {
      outline: initial;
    }
  }
}

.asset-result-line-chart {
  &.--coaching {
    g.highcharts-legend.highcharts-no-tooltip {
      display: none;
    }
  }
}

.terms {
  .wrap {
    h1 {
      font-size: 19px;
      line-height: 28px; /* 147.368% */
      font-weight: 600;
      letter-spacing: -0.57px;
    }
    h3 {
      font-size: 17px;
      font-weight: 600;
      line-height: 26px; /* 152.941% */
      letter-spacing: -0.51px;
    }
    h4 {
      font-size: 15px;
      font-weight: 600;
      line-height: 26px; /* 152.941% */
      letter-spacing: -0.51px;
    }
    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 23px; /* 153.333% */
      letter-spacing: -0.6px;
    }
    table {
      width: 100%;
      margin-bottom: 10px;
      border-collapse: collapse;
      > thead {
        border: 1px solid #c4c4c4;
        border-left: 0;
        border-right: 0;
      }
      > tbody {
        > tr {
          border: 1px solid #c4c4c4;
          border-left: 0;
          border-right: 0;
          > td {
            a {
              display: block;
              cursor: pointer;
            }
          }
          > th {
            background-color: #c4c4c4;
           
          }
        }
      }
      .tCenter {
        > tr {
          > td {
            text-align: center;
          }
        }
        th {
          text-align: center;
        }
      }
    }
    table.line {
      th {
        border-left: 1px solid #c4c4c4;
        padding: 5px;
        word-break: normal;
        &:first-child {
          border-left: none;
        }
      }
      td {
        border-left: 1px solid #c4c4c4;
        border-left: 1px solid #c4c4c4;
        padding: 5px;
        word-break: normal;
        &:first-child {
          border-left: none;
        }
      }
      thead {
        > tr.lineLeft {
          th {
            border: 1px solid #c4c4c4;
          }
        }
      }
      tr.tLeftLine {
        > td {
          border-left: 1px solid #c4c4c4;
        }
      }
    }
    .tGray {
      background-color: #fbfbfb;
    }
    ol {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-top: 5px;
      li {
        list-style: auto;
        margin-left: 15px;
        ol {
          li {
            position: relative;
            &::marker {
              content: '';
            }
            &:before {
              content: counter(list-item);
              display: inline-flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              left: -15px;
              top: 6px;
              width: 11px;
              height: 11px;
              font-weight: 400;
              font-size: 0.6em;
              text-align: center;
              line-height: 1em;
              border-radius: 50px;
              color: var(--qblack);
              border: 1px solid var(--qblack);
            }
          }
        }
      }
    }
    .content_wrap {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .document-area {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .document-header {
        text-align: right;
        img {
          width: 100px;
        }
      }
      .section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .date {
          margin-top: 20px;
          text-align: right;
        }
        table {
          @media screen and (max-width: 360px) {
            width: 100%;
          }
          th {
            background-color: #dbdbdb ;
            border-right: #c4c4c4;
            padding: 6px;
            font-size: 12px;
            overflow-wrap: break-word;
            &[bgcolor=red], &.tColorR{
              background-color: red;
            }
            &[bgcolor=orange], &.tColorO{
              background-color: orange;
            }
            &[bgcolor=yellow], &.tColorY{
              background-color: yellow;
            }
            &[bgcolor=green], &.tColorG{
              background-color: green;
            }
            &[bgcolor=skyblue],  &.tColorS{
              background-color: skyblue;
            }
            &[bgcolor=blue], &.tColorB{
              background-color: blue;
            }
          }
          td {
            position: relative;
            font-size: 12px;
            padding: 6px;
            border-right: 1px solid #c4c4c4;
            overflow-wrap: break-word;
            &.flex {
              display: table-cell;
            }
            .flex {
              display: table-cell;
            }
            img {
              position: absolute;
              width: 100px;
              @media screen and (max-width: 360px) {
                width: 20px;
                right: 50%;
                bottom: 50%;
                transform: translate(50%, 50%);
              }
            }
            p {
              font-size: 12px;
              font-weight: 600;
            }
            
          }
        }
      }
    }
  }
}

.react-datepicker-input {
  border: none;
  text-align: center;

  :focus-visible {
    /* border: 1px solid black; */
    outline: none;
  }
}

/* // @media screen and (max-width:360px) {
//   .terms{
//     .wrap{
//       table{
//         width:320px;
//       }
//     }
//   }
// } */

/* !keyframes */
@keyframes gauge-caution {
  0% {
    transform: rotate(-88deg);
  }
  70% {
    transform: rotate(88deg);
  }
  92% {
    transform: rotate(-77deg);
  }
  94% {
    transform: rotate(-70deg);
  }
  96% {
    transform: rotate(-77deg);
  }
  98% {
    transform: rotate(-75deg);
  }
  100% {
    transform: rotate(-77deg);
  }
}

@keyframes gauge-below-average {
  0% {
    transform: rotate(-88deg);
  }
  70% {
    transform: rotate(88deg);
  }
  92% {
    transform: rotate(-39deg);
  }
  94% {
    transform: rotate(-31deg);
  }
  96% {
    transform: rotate(-39deg);
  }
  98% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(-39deg);
  }
}

@keyframes gauge-below-average {
  0% {
    transform: rotate(-88deg);
  }
  70% {
    transform: rotate(88deg);
  }
  92% {
    transform: rotate(-39deg);
  }
  94% {
    transform: rotate(-31deg);
  }
  96% {
    transform: rotate(-39deg);
  }
  98% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(-39deg);
  }
}

@keyframes gauge-average {
  0% {
    transform: rotate(-88deg);
  }
  70% {
    transform: rotate(88deg);
  }
  92% {
    transform: rotate(-1deg);
  }
  94% {
    transform: rotate(7deg);
  }
  96% {
    transform: rotate(-1deg);
  }
  98% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@keyframes gauge-good {
  0% {
    transform: rotate(-88deg);
  }
  70% {
    transform: rotate(88deg);
  }
  92% {
    transform: rotate(39deg);
  }
  94% {
    transform: rotate(19deg);
  }
  96% {
    transform: rotate(39deg);
  }
  98% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(39deg);
  }
}

@keyframes gauge-excellent {
  0% {
    transform: rotate(-88deg);
  }
  70% {
    transform: rotate(88deg);
  }
  92% {
    transform: rotate(77deg);
  }
  94% {
    transform: rotate(57deg);
  }
  96% {
    transform: rotate(77deg);
  }
  98% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(77deg);
  }
}
